name: pull-request-commit
on:
    pull_request:
        branches: ['main']
jobs:
    call-lint:
        uses: ./.github/workflows/workflow-lint.yml
    call-build:
        strategy:
            matrix:
                pyver: ['3.9', '3.10', '3.11' '3.12']
                os: ['ubuntu-latest']
                include:
                  - pyver: '3.9'
                    os: 'windows-latest'
        uses: ./.github/workflows/workflow-build.yml
        with:
            pyver: ${{ matrix.pyver }}
            os: ${{ matrix.os }}
    call-test:
        needs: [call-build]
        strategy:
            matrix:
                pyver: ['3.9', '3.10', '3.11', '3.12']
                os: ['ubuntu-latest']
                include:
                  - pyver: '3.9'
                    os: 'windows-latest'
        uses: ./.github/workflows/workflow-test.yml
        with:
            pyver: ${{ matrix.pyver }}
            os: ${{ matrix.os }}
    call-pages:
        needs: [call-build]
        strategy:
            matrix:
                pyver: ['3.9']
                os: ['ubuntu-latest']
        uses: ./.github/workflows/workflow-pages.yml
        with:
            pyver: ${{ matrix.pyver }}
            os: ${{ matrix.os }}